.cnt {
    height:calc(100% - 70px);
    width:80%;
    margin: 0 auto;
    overflow-x:auto;
    overflow-y:hidden;
    
    
}
#container {
    display:-ms-flexbox;
    height:calc(100% - 18px);
}
#container .win-template{
    width:200px;
    height: 100%;
    border:1px solid yellow;
    margin-right:30px;
    
}
    #container .select {
        border:2px solid red;
    }
#container .mousedown {
    transform:scale(0.9);
    }
#itempane
{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 30%;
    height:100%;
    color: white;
    background-color: #323232;
    opacity: 0;
    z-index: -1;
}
#itempane .paneItem {
    padding:30px
}
#itempane .paneItem .title {
    font-size:36px;
    border-bottom:1px solid yellow;
}
#itempane .paneItem .text{
    margin-top:25px;
}
    #itempane .paneItem .edittext {
        width:400px;
        height:300px
    }
.myItem progress {
    padding-top:49%;
    padding:10px;
}
@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
