<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1F8B0F94.LibTest" Version="1.0.0.3" Publisher="CN=AA16859A-DD2D-48D9-BDBA-62A52AADE877" />
  <Properties>
    <DisplayName>LibTest</DisplayName>
    <PublisherDisplayName>网易(杭州)网络有限公司</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="LibTest" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="LibDemo" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <LockScreen Notification="badge" BadgeLogo="images\badget.png" />
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="js\push.js">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.search" StartPage="index.html" />
        <Extension Category="windows.shareTarget" StartPage="index.html">
          <ShareTarget>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
            <DataFormat>Text</DataFormat>
            <DataFormat>Bitmap</DataFormat>
            <DataFormat>HTML</DataFormat>
            <DataFormat>URI</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>